root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:error
csharp_prefer_braces = true:suggestion
dotnet_sort_system_directives_first = true

[*.{ts,tsx,js,jsx,json,css,yaml,yml}]
indent_size = 2

[*.{sh,Dockerfile}]
indent_size = 2
